.routingInformation {
  width: 376px;
  display: flex;
  justify-content: space-between;
  .pageNumber {
    font-family: var(--font-family-secondary);
    color: var(--color-3);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    mix-blend-mode: normal;
    opacity: 0.25;
  }
  .pageDescription {
    font-family: var(--font-family-secondary);
    color: var(--color-3);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    text-transform: uppercase;
  }
}
